@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin vHide {
	opacity: 0;
	visibility: hidden;
	max-height: 0;
	overflow: hidden;
	transition: all .15s ease-in-out;
}

@mixin vShow {
	opacity: 1;
	visibility: visible;
	max-height: 1000px;
	overflow: visible;
}


@mixin icon( $icon ) {
  content: $icon;
  font-family: $font-family-symbols;
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
  text-transform: none;
}

@mixin tag-color( $color ) {
	color: $color;
	background-color: rgba( $color, .05 );

  &.color {
    background-color: $color;
  }
}

@mixin font-smoothing( $value: on ) {
  @if $value == on {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  @else {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }
}

// Media Queries
//
// Allows you to use inline media queries. Includes options for `$fix-mqs`.
//
// $breakpoint - Desired breakpoint. Can be variable or unit.
// $query - Defaults to `min-width`.
// $type - Defaults to `screen`.
$fix-mqs: false !default;

@mixin mq($breakpoint, $query: 'min-width', $type: 'screen') {
  @if $fix-mqs {
    @if $fix-mqs >= $breakpoint { @content; }
  } @else {
    @media #{$type} and (#{$query}: #{$breakpoint}) { @content; }
  }
}