@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin vHide {
	opacity: 0;
	visibility: hidden;
	max-height: 0;
	overflow: hidden;
	transition: all .15s ease-in-out;
}

@mixin vShow {
	opacity: 1;
	visibility: visible;
	max-height: 1000px;
	overflow: visible;
}

// Media Queries
//
// Allows you to use inline media queries. Includes options for `$fix-mqs`.
//
// $breakpoint - Desired breakpoint. Can be variable or unit.
// $query - Defaults to `min-width`.
// $type - Defaults to `screen`.

@mixin mq($breakpoint, $query: 'min-width', $type: 'screen') {
  @if $fix-mqs {
    @if $fix-mqs >= $breakpoint { @content; }
  } @else {
    @media #{$type} and (#{$query}: #{$breakpoint}) { @content; }
  }
}