@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin vHide {
	opacity: 0;
	visibility: hidden;
	max-height: 0;
	overflow: hidden;
	transition: all .15s ease-in-out;
}

@mixin vShow {
	opacity: 1;
	visibility: visible;
	max-height: 1000px;
	overflow: visible;
}