extends principal
block addressmodal
	- var thisAdr = adr[activeAdrIndex-1]
	.modal.modal__address.address(class= adr.length ? 'not-empty map--fetched--full' : '' )
		.modal__header
			button.button.modal__close.close(data-action="dismiss_modal") Close
			.modal__title
				h1 Address
					if adr.length > 1
						span.suffix es
						span.address__counter #[span.counter=activeAdrIndex]/#[span.total-counter=adr.length]
				.addresses
					.swiper-container
						.swiper-wrapper
							each address in adr
								.swiper-slide
									address.address__current(
										class 						 = 'tag--'+address.tag || 'none'
										data-id 					 = address._id || ''
										data-tag					 = address.tag || ''
										data-street_number = address.street_number || ''
										data-route				 = address.route || ''
										data-locality 		 = address.locality || ''
										data-administrative_area_level_1 = address.administrative_area_level_1 || ''
										data-postal_code 	 = address.postal_code || ''
										data-country 	 		 = address.country || ''
										)=address.address || 'None found for this lead.'
						.swiper-pagination
						.swiper-button-prev.button
						.swiper-button-next.button

				form.address__actions.remove(action="/api/lead/id/addresses"+(adr.length ? "/"+thisAdr._id : '') method='POST' onsubmit="return confirm('Are you sure you want to remove this address of {leadname}?');")
					button.button.button__small.address__edit(data-content="Edit Address" data-action="edit" type="button") #[i]
					button.button.button__small.address__remove(data-content="Remove Address" data-action="remove" type="submit") #[i]
					input(type="hidden" name="del" method="_del" value="true")
					button.button.button__small.button__color.address__new(data-action="add-new" type="button") Add New

		.modal__content
			button.modal__action.button.button__large.button__color.address__new(data-action="add-new") Add New
			form.form.form--nojs.modal__form(action="/api/lead/id/addresses" method='POST' autocomplete="off")
				.form__row
					select.form__select.address__tags(name='tag')
						option.form__select__option(value='business') Business
						option.form__select__option(value='mailing') Mailing
						option.form__select__option(value='other') Other
				.form__row
					input#address.address__textarea(type="text" name="address" autofocus placeholder="Enter your address...")
				fieldset.form__address
					.form__row
						input#street_number(type="text" placeholder="Address" name="street_number")
						input#route(type="text" placeholder="Address (cont.)" name="route")
					.form__row
						input#locality(type="text" placeholder="City" name="locality")
						input#administrative_area_level_1(type="text" placeholder="State" name="administrative_area_level_1")
					.form__row
						input#postal_code(type="text" placeholder="Postal Code" name="postal_code")
					.form__row
						input#country(type="text" placeholder="Country" name="country")
				.form__submit
					input.button.button__large.button__color(type="submit" value="Save" data-action="save")
			.modal__cancel
				button(data-action="cancel-add-new") Cancel
		.modal__map
			#map