doctype html
html
	head
	body
		div.modal.modal__address.address
			.modal__header
				button.modal__close.close Close
			.modal__content
				h1 Address
				p.address__current.none None found for this lead.
				button.button.button__large.button__color Add New
				form.form.form--nojs
					.form__row
						select.form__select
							option.form__select__option Business
							option.form__select__option Mailing
							option.form__select__option Other
					.form__row
						textarea#address
					fieldset.form__address
						.form__row
							input(type="text" placeholder="Address")
							input(type="text" placeholder="Address (cont.)")
						.form__row
							input(type="text" placeholder="City")
							input(type="text" placeholder="State")
						.form__row
							input(type="text" placeholder="Postal Code")
						.form__row
					.form__submit
						input(type="submit")