doctype html
html
	head
		script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLG_boiHX2rtGQApI2UJ5zpbELKcrD6JY&libraries=places" type="text/javascript")
	body
		div.modal.modal__address.address
			.modal__header
				button.button.modal__close.close(data-action="dismiss_modal") Close
				.modal__title
					h1 Address#[span.suffix es]
						span.address__counter 1/1
					p.address__current.none None found for this lead.
					.address__actions
						button.button.button__small.address__edit(data-content="Edit Address" data-action="edit")
						button.button.button__small.address__remove(data-content="Remove Address" data-action="remove")
						button.button.button__small.button__color.address__new(data-action="add-new") Add New

			.modal__content
				button.modal__action.button.button__large.button__color.address__new(data-action="add-new") Add New
				form.form.form--nojs.modal__form(action="/addresses" method="post" autocomplete="off")
					.form__row
						select.form__select.address__tags
							option.form__select__option(value='business' data-color='#015F9B' selected) Business
							option.form__select__option(value='mailing' data-color='#DA00F8') Mailing
							option.form__select__option(value='other') Other
					.form__row
						input#address.address__textarea(type="text" name="address" autofocus placeholder="Enter your address...")
					fieldset.form__address
						.form__row
							input#street_number(type="text" placeholder="Address" name="street_number")
							input#route(type="text" placeholder="Address (cont.)" name="route")
						.form__row
							input#locality(type="text" placeholder="City" name="locality")
							input#administrative_area_level_1(type="text" placeholder="State" name="administrative_area_level_1")
						.form__row
							input#postal_code(type="text" placeholder="Postal Code" name="postal_code")
						.form__row
							input#country(type="text" placeholder="Country" name="country")
					.form__submit
						input.button.button__large.button__color(type="submit" value="Save" data-action="save")
				.modal__cancel
					button(data-action="cancel-add-new") Cancel
			.modal__map
				#map