- adr = locals.addresses ? locals.addresses.reverse() : []
- activeAdrIndex = 1

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")

    title CloseIo Addresses Modal

    meta(name='description', content='')
    meta(name='robots', content='all')

    meta(name='viewport', content='width=device-width, user-scalable=1, initial-scale=1, maximum-scale=1')
    meta(name='apple-mobile-web-app-capable', content='yes')

    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLG_boiHX2rtGQApI2UJ5zpbELKcrD6JY&libraries=places" + ( adr.length ? "&q=" + adr[activeAdrIndex-1].address : '' ) type="text/javascript")
    script(src="app.js")

    link(href="app.css" rel="stylesheet")
  
  body
    block addressmodal