.address {
	&__current {
		display: block;
		margin-bottom: 40px;

		&.none {
			color: rgba( black, .5 );
		}
	}

	&__counter {
		font-size: 16px;
		margin-left: 20px;
		color: rgba( black, .5 );
	}

	&__actions {
		display: none;
	}

	&__tags {
		@include reset-list;
		display: block;
		margin-bottom: 30px;
	}

	&__tag {
		display: inline-block;
		vertical-align: top;
		margin: 0 5px;
		padding: 0 10px;
		background: rgba( black, .1 );
		border-radius: 20px;
		transition: all .1s ease-in-out;

		&:not(.active) {
			cursor: pointer;
			opacity: .2;

			&:hover {
				opacity: 1;
			}
		}
	}

	&__textarea {
		margin-bottom: 50px;
	}
}