.address {
	&__current {
		display: block;
		margin-bottom: 40px;

		&.none {
			color: rgba( black, .5 );
		}
	}

	&__tags {
		display: block;
		margin-bottom: 30px;
	}

	&__textarea {
		min-height: 100px;
		margin-bottom: 50px;
	}
}