.address {
	padding: 5px 20px;
	border-radius: 20px;
	font-size: 13px;
	line-height: 24px;
	letter-spacing: .3px;
	font-style: normal;
	transition: all .15s ease-in-out;
	display: inline-block;
	vertical-align: middle;
	max-width: calc( 100% - 80px );
	@include font-smoothing( false );

	&es {
		display: block;
		
	}

	&.none {
		color: rgba( black, .5 );
		background: transparent;
	}

	&.adding {
		font-style: italic;
		color: rgba( black, .5 );
	}
		
	&__container {
		position: relative;
		width: 100%;
		margin: 0 auto;
		// overflow: hidden;
		white-space: nowrap;
		user-select: none;
		cursor: default;
	}

	&__prev,
	&__next {
		&.button {
			position: absolute;
			size: 32px;
			line-height: 30px;
			top: 50%;
			transform: translateY( -50% );
			display: block;

			&:before {
				display: block;
				font-size: 12px;
			}

			&.swiper-button-disabled {
				opacity: 0;
				visibility: hidden;
				z-index: -1
			}
		}
	}

	&__prev {
		&:before {
				content: '<';
		}
		left: 0
	}

	&__next {
		&:before {
				content: '>';
		}
		right: 0
	}



	&__slide {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		white-space: normal;
		text-align: center;
	}

	&__counter {
		vertical-align: middle;
		font-size: 15px;
		margin-left: 20px;
		letter-spacing: 2px;
		color: rgba( black, .5 );
		display: none;
	}

	&__actions {
		@include vHide;

		> .button {
			display: inline-block;
			vertical-align: top;

			i {
				display: block;
				position: relative;
				z-index: -1;
				font-style: normal;
				font-weight: 400;
			}

			&:not(:last-child) {
				margin-right: 8px;
			}

			&.address__new {
				margin-left: 20px;
			}

			&:not(.address__new) {
				padding: 0;
				width: 22px;
				font-size: 14px;
				line-height: 20px;

				// button Tooltips
				&:before {
					content: attr( data-content );
					position: absolute;
					bottom: 100%;
					width: auto;
					background: white;
					font-size: 11px;
					// border: 1px solid rgba( black, .05 );
					// box-shadow: 0px 5px 1px -1px rgba( black, .05 );
					box-shadow: 0px 5px 20px 5px rgba( black, .05 );
					color: rgba( black, .75 );
					padding: 5px 10px;
					text-transform: capitalize;
					letter-spacing: 0;
					left: 50%;
					transform: translateX( -50% );
					border-radius: 4px;
					opacity: 0;
					visibility: hidden;
					white-space: nowrap;
					transition: all .1s ease-in-out;
				}

				&:after {
					content: "";
			    position: absolute;
			    width: 0;
			    height: 0;
			    left: calc( 50% - 6px );
			    transform: trnslateX( -50% );
			    bottom: 100%;
					transition: all .1s ease-in-out;
			    box-sizing: border-box;
			    border: 4px solid black;
			    box-shadow: -1px 2px 5px -1px rgba( black, .05 );
			    border-color: transparent transparent white white;
			    opacity: 0;
					visibility: hidden;
			    transform-origin: 0 0;
			    transform: rotate(-45deg);
				}

				&:hover {
					&:before {
						bottom: calc( 100% + 5px );						
					}

					&:before,
					&:after {
						opacity: 1;
						visibility: visible;
					}
				}
			}
		}
	}

	&__edit i:before {
		@include icon('\61')
	}

	&__remove i:before {
		@include icon('\62')
	}

	&__tags {
		@include reset-list;
		display: block;
		margin-bottom: 30px;
	}

	&__tag {
		display: inline-block;
		vertical-align: top;
		cursor: default;
		margin: 0 5px;
		padding: 0 10px;
		border-radius: 20px;
		transition: all .1s ease-in-out;

		&:not(.active) {
			cursor: pointer;
			opacity: .2;

			&:hover {
				opacity: 1;
			}
		}
	}

}