.modal {
	$actionButHeight: 40px;

	text-align: center;
	position: relative;
	padding: 50px;
	height: 100%;

	&__form,
	&__cancel {
		opacity: 0;
		visibility: hidden;
		max-height: 0;
		overflow: hidden;
	}

	&__header {
		display: block;
		position: static;
	}

	&__content {
		position: absolute;
		top: calc( 50% + #{$actionButHeight} );
		left: 50%;
		transform: translate( -50%, -50% );
		transition: left .15s ease-in-out;
	}

	&__title {
		position: absolute;
		top: calc( 50% - #{$actionButHeight} );
		left: 50%;
		transform: translate( -50%, -50% );

		transition: all .15s ease-in-out;
	}

	&__close {
		$closeSize: 32px;
		$closePos:	60px;

		position: fixed $closePos $closePos auto auto;
		size: $closeSize;
		line-height: $closeSize - 2px;
		box-shadow: none;
		padding: 0;
		border: 1px solid rgba( black, .1 );
		font-size: 0;
		color: rgba( black, .25 );
		overflow: hidden;

		&:hover {
			background: rgba( black, .05 );
			color: rgba( black, .5 );
		}

		&:before {
			content: 'x';
			font-size: 12px;
			display: block;
		}
	}

	&.not-empty {
		.modal {
			&__title {
				transform: translate( -50%, 0 );
				top: 100px;
			}

			&__form,
			&__cancel {
				opacity: 1;
				visibility: visible;
				max-height: 1000px;
				margin-bottom: 30px;
				overflow: visible;
			}

			&__cancel {
				> button {
					color: rgba( black, .25 );
					transition: color .15s ease-in-out;

					&:hover {
						color: rgba( black, .75 );
					}
				}
			}

			&__action {
				display: none;
			}

			&__map {
				position: absolute;
				width: calc( 100% - 500px );
				right: -100%;
				top: 250px;
				bottom: 0;
				transition: right .15s ease-in-out;

				#map {
					size: 100%;
				}
			}
		}
	}
}