.modal {
	$actionButHeight: 40px;

	text-align: center;
	position: relative;
	padding: 50px;
	height: 100%;

	&__form,
	&__cancel {
		@include vHide;
	}

	&__header {
		display: block;
		position: static;
		height: 200px;
	}

	&__content {
		position: absolute;
		top: calc( 50% + #{$actionButHeight} );
		left: 50%;
		transform: translate( -50%, -50% );
		transition: left .15s ease-in-out;
	}

	&__title {
		position: absolute;
		top: calc( 50% - #{$actionButHeight} );
		left: 50%;
		transform: translate( -50%, -50% );

		transition: all .15s ease-in-out;
	}

	&__action {
		@include vShow;
	}

	&__close {
		$closeSize: 32px;
		$closePos:	40px;

		position: fixed $closePos $closePos auto auto;
		size: $closeSize;
		line-height: $closeSize - 2px;
		box-shadow: none;
		padding: 0;
		font-size: 0;
		
		overflow: hidden;

		

		&:before {
			content: 'x';
			font-size: 12px;
			display: block;
		}
	}

	&.not-empty {
		.modal {
			&__title {
				transform: translate( -50%, 0 );
				top: 80px;
			}

			&__form,
			&__cancel {
				@include vShow;
				margin-bottom: 30px;
			}

			&__cancel {
				> button {
					color: rgba( black, .25 );
					transition: color .15s ease-in-out;

					&:hover {
						color: rgba( black, .75 );
					}
				}
			}

			&__action {
				@include vHide;
			}

			&__map {
				position: absolute;
				width: calc( 100% - 500px );
				right: -100%;
				top: 350px;
				bottom: 0;
				transition: right .15s ease-in-out;

				#map {
					size: 100%;
				}
			}
		}
	}
}