$hamburgerColor: #c8c7c5;
$hamburgerHover: #555555;

.modal {
  &.list--view {
    .nav-toggle {
      .nav-svg {
        .dots {
          left: 15px;
          opacity: 0;
          background: transparent;
          animation: showDots .2s .2s forwards;
          &:before {
            animation: toCloseDotsTop .6s .2s forwards;
          }
          &:after {
            animation: toCloseDotsBottom .6s .2s forwards;
          }
        }

        path {
          &.x {
            transition: .2s .2s ease-in-out;
            transform: rotate(45deg) translate(-24%, 80px) scaleX(.7);
            
            &:first-of-type {
              transform: rotate(-45deg) translate(-24%, -80px) scaleX(.7);
            }
          }
          &.yy {
            stroke-dashoffset: -1200;
            transition: .25s 0s ease-in-out;
          }
        }
      }
    }
  }
}


.nav-toggle {
  border: none;
  background: none;
  -webkit-appearence: none;
  size: 32px;
  
  &:focus, 
  &:active {
    outline: none;
  }

  &:hover {
    .dots {
      background: $hamburgerHover;

      &:before,
      &:after {
        background: $hamburgerHover;
      }

    }

    svg {
      path {
        stroke: $hamburgerHover;
      }
    }
  }

  // svg
  .nav-svg {
    display: block;
    size: 32px;
    position: absolute 0 0 0 0;
    z-index: -1;

    // Dots
    .dots {
      top: 15px;
      left: 5px;
      width: 2px;
      height: 2px;
      border-radius: 1px;
      background: $hamburgerColor;
      position: absolute;
      transition: background .25s ease-out, left .25s ease-out;
      &:before,
      &:after {
        left: 0;
        opacity: 1;
        width: 2px;
        content: '';
        height: 2px;
        border-radius: 1px;
        background: $hamburgerColor;
        position: absolute;
      }
      &:before {
        top: -5px;
      }
      &:after {
        top: 5px;
        transition-delay: .1s;
      }
    }

    svg {
      position: relative;
      z-index: 0;

      path {
        stroke: $hamburgerColor;
        stroke-width: 70;
        &.x {
          transition: .25s 0s ease-in-out;
          transform-origin: right center;
          transform: rotate(0deg) translateX(0px);
        }
        &.yy {
          stroke-dashoffset: 1700;
          stroke-dasharray: 2520 3000;
          transition: .2s .2s ease-in-out;
        }
      }
    }
  }
}

@keyframes showDots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes toCloseDotsBottom {
  from, 40%, 75%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    transform: translate3d(0, 0, 0);
  }

  40% {
    transform: translate3d(0, 5px, 0);
    opacity: .25;
  }

  75% {
    transform: translate3d(0, -3px, 0);
    opacity: 0;
  }

  to {
    transform: none;
  }
}

@keyframes toCloseDotsTop {
  from, 40%, 75%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    transform: translate3d(0, 0, 0);
  }

  40% {
    transform: translate3d(0, -5px, 0);
    opacity: .25;
  }

  75% {
    transform: translate3d(0, 3px, 0);
    opacity: 0;
  }

  to {
    transform: none;
  }
}